page-home {
 .icon{
     color:white;
 }
    .icon2{
        font-size: 12px;
        float:right;
        color:white;
    
    }
    
    .h5{
        font-size: 10px; color:white;
    }

    .content{ 
       background: radial-gradient(farthest-side at 90% 10%,#7844B0,#7945AE,#7944AD,#7B44AC,#7845AA,#7945AA,#7948AA,#7041A3,#6C449D,#6E439C,#6E439D,#6F42A2,#6E42A1,#6C4298,#7141A1,#6E429B,#653B8E,#673D8F,#673C91,#683E94,#683E94 );
       color:white;
       
    }
    .cd{
        padding-left:3px;
        margin-left:3px;
        padding-right:-5px;
        margin-right:-10px;
        background: transparent;
      color:white;
    }
    ion-navbar {
        opacity: 0;
        box-shadow: 0px 1px 13px 1px rgba(0,0,0,0.77);
        color:white;
    }
    
    .wrap{
        font-weight: bold;
        padding-left:55px;
        color:white;
    }
    .right{
    float:right;
    color:#a866ee;
    }
    .avat{
        float:left;
        padding-right:14px;
    }
    .left{
        font-size:15px;
        color:white;
        font-weight: 700; 
    }
   .b{
    color:white;
       font-size:25px;
   }
   
.ellepsis {
        width: 100%;
        overflow: hidden;
        color:hsl(0, 0%, 29%);
        border: 0px solid #000000;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        color:white;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #a866ee ;
        padding: 0; 
        color:white;
    }
    .bg{
        background: radial-gradient(farthest-side at 90% 20%,#593A7D,#573277,#563278,#563372,#543378);
        color:white;
    }
    }